/* Set no margin for entire page*/
body {
  margin: auto;
  /* Turn off scrolling -- may cause issues with sketch bottom alignment*/
  overflow-y: hidden;
  overflow-x: hidden;
}

.sketch {
  z-index: -999; /* ew */
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.header > * {
  padding: 10px;
  flex: 1 100%;
}

.title {
  text-align: center;
  background: deepskyblue;
}

.info {
  text-align: center;
  background: deepskyblue;
  display: none;
  z-index: 10;
}

.prev {
  background: gold;
  text-align: center;
}

.next {
  background: gold;
  text-align: center;
}

/* Set flexbox ordering for columns */
@media all and (min-width: 600px) {
  .prev { flex: 1 auto; }
  .next { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .title  { flex: 3 0px; }
  .prev   { order: 1; flex: 0 0 150px;}
  .title  { order: 2; }
  .next   { order: 3; flex: 0 0 150px;}
  .info   { order: 4; width: 100%;}
}


/* Info toggle css */
input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/* Toggled State */
input[type=checkbox]:checked ~ div .info {
  display: block;
  position: absolute;
  margin-top: 38px;
}

input[type=checkbox]:checked + div label i {
  /*color: #383838;*/
  color: white;
}
